.bg-primary {
    background-color: $primary-color !important;
}
.bg-secondary {
    background-color: $secondary-color !important;
}
.bg-success {
    background-color: $success-color !important;
}
.bg-warning {
    background-color: $warning-color !important;
}
.bg-alert {
    background-color: $alert-color !important;
}
.bg-faded {
    background-color: $muted-color !important;
}
.bg-transparent {
    background-color : transparent !important;
}

.bg-black {
    background-color : $black !important;
}

.bg-white {
    background-color : $white !important;
}

.bg-brand-yellow {
    background-color: $brand-yellow !important;
}

.text-primary {
    color : $primary-color !important;
}

.text-secondary {
    color : $secondary-color !important;
}

.text-success {
    color : $success-color !important;
}

.text-warning {
    color : $warning-color !important;
}

.text-alert {
    color : $alert-color !important;
}

.text-faded {
    color : $muted-color !important;
}

.text-transparent {
    color : transparent !important;
}

.text-white {
    color: $white !important;
}

.text-black {
    color : $black !important;
}

.text-brand-yellow {
    color : $brand-yellow !important;
}
